.add-column-button {
    position: fixed;
    right: 2em;
    bottom: 2em;
}

.column-container {
    display: flex;
    min-height: 75vh;
}

.column {
    padding: .5em;
    background-color: white;
    border-radius: .25em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    max-width: 15em;
    min-width: 15em;
}

.card {
    margin-top: 1em;
    padding: .5em;
    border-radius: .25em;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.cdk-drop-list {
    min-height: 20vh;
}

.card-action-button {
    transform: scale(.5);
}

.card-action-icon {
    font-size: 14px;
}

.card-header {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #f6f6fb;
}

.card-header > .card-header-title {
    flex-grow: 1;
}

.card-description {
    font-size: smaller;
    font-style: italic;
}