<mat-toolbar>
  <button
    [matMenuTriggerFor]="mainMenu"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button
      *ngFor="let board of boards; let i = index"
      mat-menu-item
      (click)="selectBoard(board)"
    >
      {{ board.title }}
    </button>
  </mat-menu>
</mat-toolbar>

<div
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="dropColumn($event)"
>
  <div cdkDropListGroup class="column-container">
    <!-- COLUMN -->
    <div
      *ngFor="let column of selectedBoard?.columns"
      class="column mat-elevation-z2"
      cdkDrag
    >
      <mat-form-field class="example-full-width">
        <h1><input name="title" matInput [(ngModel)]="column.title" /></h1>
      </mat-form-field>
      <div
        cdkDropList
        [cdkDropListData]="column?.cards"
        (cdkDropListDropped)="drop($event)"
      >
        <!-- CARD -->
        <div
          class="card mat-elevation-z2"
          *ngFor="let card of column?.cards"
          cdkDrag
        >
          <div class="card-header">
            <div class="card-header-title">{{ card.title }}</div>
            <button
              mat-icon-button
              [matMenuTriggerFor]="cardMenu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <p *ngIf="card.description" class="card-description">
            {{ card.description }}
          </p>
          <div class="card-action-container"></div>
          <mat-menu #cardMenu="matMenu">
            <button mat-menu-item (click)="deleteCard(column, card)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <!-- /CARD -->
      </div>
    </div>
    <div class="column mat-elevation-z2">
      <mat-form-field class="example-full-width">
        <mat-label>New Column</mat-label>
        <h1>
          <input
            name="newColumnText"
            matInput
            placeholder="Name"
            [(ngModel)]="newColumnText"
            (keyup.enter)="addColumn()"
          />
        </h1>
      </mat-form-field>
    </div>
  </div>
</div>
