.add-column-button {
    position: fixed;
    right: 2em;
    bottom: 2em;
}

.column-container {
    display: flex;
    min-height: 75vh;
}

.column {
    padding: .5em;
    background-color: white;
    border-radius: .25em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    max-width: 15em;
    min-width: 15em;
}

.card {
    margin-top: 1em;
    padding: .5em;
    padding-bottom: 0;
    border-radius: .25em;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-action-container {
    background-color: red;
}

.cdk-drop-list {
    min-height: 20vh;
}

.card-action-button {
    transform: scale(.5);
}

.card-action-icon {
    font-size: 14px;
}

.card-description {
    font-size: smaller;
    font-style: italic;
}

.add-board-button {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

.column-title {
    font-weight: 500;
}

.example-spacer {
    flex: 1 1 auto;
  }
  