.add-column-button {
    position: fixed;
    right: 2em;
    bottom: 2em;
}

.column-container {
    display: flex;
}

.column {
    background-color: white;
    border-radius: .25em;
    display: inline-block;
    margin: 1em;
    max-width: 15em;
    min-width: 15em;
}

.card {
    margin: .5em 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-action-button {
    transform: scale(.5);
}

.card-action-icon {
    font-size: 14px;
}

.card-description {
    font-size: smaller;
}